/* 소개 페이지 */
body{
    text-align: left;
}
body::-webkit-scrollbar{
    display: none;
}
svg{
    width: 15%;
    animation: color 10s infinite;
}
@keyframes color {
    30%{
        color: lightblue;
    }
    50%{
        color: rgb(233, 104, 233);
    }
    70%{
        color: coral;
    }
}
header .title{
    position: fixed;
    width: 90vw;
    z-index: 100;
    margin:0;
    padding: 2%;
    text-align: right;
}
nav{
    position: fixed;
    bottom: 3%;
    left: 48%;
    z-index: 1000;
}
    nav button{
        font-family: 'SangjuDajungdagam';
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid burlywood;
        transition: 0.5s;
        z-index: 1000;
    }
    nav button:hover{
        color: lightpink;
    }

#about{
    background: url(../content/cloud.jpg) no-repeat;
    background-size: cover;
    height: 400vh;
    width: auto;
}

.about_scroll{
    position: sticky;
    top: 0;
    overflow-y: hidden;
    overflow-x: auto;
    height: 100vh;
    box-sizing: border-box;
}
.about_content{
    padding-top: 15vh;
    position: fixed;
    display: flex;
    top:0;
    bottom:0;
    left:0;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    transition: 1s;
    transform: translate(0,0);
}
.about_section{
    width: 100vw;
    height: 100%;
    padding: 0 1%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.wrap{
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 90%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 50%;
    height: 90%;
    margin: auto 0;
}
    .text h2{
        font-size: 1.5rem;
        margin: 1%;
    }
    .text p{
        padding-top: 2%;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        width: 80%;
        margin-top: 5%;
        font-size: 1.1rem;
    }
    .img_grid{
        width: 50%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(2,49.5%);
        grid-template-rows: repeat(2,49.5%);
        grid-gap: 1%;
        animation: bling 3s infinite;
    }
    @keyframes bling {
        50%{
            filter: saturate(180%);
        }
    }
    .img_grid button{
        width: 100%;
        height: 100%;
        border: none;
        transition: 1s;
        background-size: 105% !important;
    }

button:hover, button:active, button:focus{
    background-size: 130% !important;
    border: 1px solid ghostwhite;
}
#anniversary_img1{
    background: url(../content/wedding.jpg) center no-repeat;}
#anniversary_img2{
    background: url(../content/birthday.jpg) center no-repeat;}
#anniversary_img3{
    background: url(../content/graduate.jpg) center no-repeat;}
#anniversary_img4{
    background: url(../content/christmas.jpg) center no-repeat;}

#diary_img1{
    background: url(../content/커플삽화_대화.jpg) center no-repeat;}
#diary_img2{
    background: url(../content/rain_삽화.png) center no-repeat;}
#diary_img3{
    background: url(../content/커플삽화_겨울.jpg) center no-repeat;}
#diary_img4{
    background: url(../content/커플삽화_코코아.jpg) center no-repeat;}

#music_img1{
    background: url(../content/music7.jpg) center no-repeat;}
#music_img2{
    background: url(../content/music1.jpg) center no-repeat;}
#music_img3{
    background: url(../content/music3.jpg) center no-repeat;}
#music_img4{
    background: url(../content/music5.jpg) center no-repeat;}

#album_img1{
    background: url(../content/봄.jpg) center top no-repeat;}
#album_img2{
    background: url(../content/여름.jpg) center top no-repeat;}
#album_img3{
    background: url(../content/가을.jpg) center top no-repeat;}
#album_img4{
    background: url(../content/겨울.jpg) center top no-repeat;}

/* responsive */
@media all and (max-width:1024px){
    .wrap button{
        background-size: 120% !important;
    }
    button:hover, button:active, button:focus{
        background-size: 150% !important;
        border: 1px solid ghostwhite;
    }
    .text p{
        width: 100%;
        font-size: 1rem;
    }
}   
@media all and (max-width:768px){
    .wrap{
        flex-direction: column;
        font-size: 0.9rem;
        width: 90%;
    }
        .text{
            width: 100%;
            height: 50%;
            padding: 0;
            margin: 0;
        }
        .text p{
            overflow-y: scroll;
        }
        .text p::-webkit-scrollbar{
            display: none;
        }
    .img_grid{
        height: 45%;
        width: 100%;
        margin-bottom: 2%;
    }
    .about_section{
        padding: 0;
    }
    nav{
        bottom: 1%;
        left: 40%;
    }
    svg{
        height: 15%;
    }
}
@media all and (max-width:480px){
    .wrap{
        width: 95%;
    }
    .text h2{
        font-size: 1.3rem;
    }
    .text p{
        font-size: 0.9rem;
    }
}

/* 파이어폭스 */
@-moz-document url-prefix(){
    :root{
        scrollbar-width: none;
    }
    .text p{
        scrollbar-width: none;
    }
}
