#calendar{
    background: url(../content/calendar2.png) top no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    animation: back 3s infinite;
}
@keyframes back {
    50%{
        backdrop-filter: saturate(230%);
    }
}
#calendar header{
    height: 15%;
    background-color: rgba(37, 36, 36, 0.3);
    animation: back 3s infinite;
}
#calendar footer{
    height: 5%;
    background-color: rgba(37, 36, 36, 0.3);
    animation: back 3s infinite;
}
#calendar_main{
    background-color: rgba(37, 36, 36, 0.3);
    width: 100%;
    height: 80%;
    animation: back 3s infinite;
}
.calendar_box {
    width: 40%;
    height: 80%;
    margin: auto 3%;
    padding: 1.5%;
    background: rgb(168 181 209);
    border-radius: 1rem;
}
.anniversary_list{
    width: 40%;
    height: 80%;
    margin: auto 3%;
    padding: 1% 3%;
    background-color: rgba(158, 196, 254, 0.6);
    border-radius: 1rem;
    color: ghostwhite;
}
.anniversary_list h1{
    padding: 1% 0;
    font-size: 1.8rem;
    height: 15%;
}
.anniversary_list ul{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 85%;
    list-style: none;
    overflow-y: scroll;
}
.anniversary_list ul::-webkit-scrollbar{
    display: none;
}
.anniversary_list li{
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(5, 43, 101, 0.8);
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 5% 0;
    animation: 5s leftline linear infinite;
}
    @keyframes leftline {
        50%{
            border-bottom-color: rgba(0, 0, 0, 0);
        }
    }
    .calendar_header {
        display: flex;
        justify-content: space-between;    
        align-items: center;
        height: 10%;
    }
        .year-month {
        font-size: 1rem;
        }
        .nav {
        display: flex;
        border: 1px solid #333333;
        border-radius: 1rem;
        }
            .nav-btn {
            border: none;
            font-size: 1rem;
            line-height: 1.2;
            background-color: transparent;
            cursor: pointer;
            }
            .go-today {
            width: 80%;
            border-left: 1px solid #333333;
            border-right: 1px solid #333333;
            }
        .main{
            height: 90%;
        }
        .days {
            display: flex;
            padding: 1% 0;
            margin: 1% 0;
            height: 10%;
            border: 1px solid #333333;
            border-radius: 1rem;
        }
            .day {
            width: calc(100% / 7);
            text-align: center; 
            }
        .dates {
        display: flex;
        flex-flow: row wrap;
        height: 90%;
        }
    .date {
    width: calc(100% / 7);
    padding: 2%;
    height: calc(100% / 6);
    text-align: right;
    }
    .day:nth-child(7n + 1),
    .date:nth-child(7n + 1) {
    color: #c70d0d;
    }
    .day:nth-child(7n),
    .date:nth-child(7n) {
    color: #002c8a;
    }
    .other {
        opacity: 0.3;
    }
    .today {
    position: relative;
    color: #eff30e;
    }
        .today::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 30px;
        height: 30px;
        background-color: rgb(102, 36, 163);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        content: '';
        }

    .anniversary{
        display: inline-block;
        width: 35%;
        height: 55%;
        text-align: center;
        color: pink;
        border-radius: 2rem;
        background-color: palevioletred;
        cursor: pointer ;
        animation: 3s linear infinite blink;
    }
    @keyframes blink{
        50%{
            box-shadow: 0px 0px 10px 5px rgba(216, 112, 147, 0.5);
        }
    }

@media all and (max-width: 768px){
    html{
        height: auto;
    }
    #calendar header{
        height: auto;
        padding: 5% 0;
    }
    #calendar_main{
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    #calendar_main section{
        width: 85%;
        height: 75vh;
        margin-bottom: 8%;
        padding: 5%;
    }

}
@media all and (max-width: 480px){
    #calendar_main section{
        height: 55vh;
    }
    .anniversary_list h1{
        font-size: 1.3rem;
    }
}