<div class="title">   
    <a href="index.html">
        우리들의 비밀 이야기
    </a>
</div>
<nav>
    <span>
        <a href="index.html">
            Logout
        </a>
    </span>
    <span>
        <a href="calendar.html">
            My calendar
        </a>
    </span>
</nav>

<hr>
<style>
header{
    text-align: center;
}
header hr{
    margin:1rem auto;
    border-top: 1px dotted rgba(248, 248, 255, 0.37) ;
    border-bottom:0;
    width:40%;
    display: inline-block;
}
header span{
    padding:1rem;
}
header .title{
    font-size: 3rem; 
    padding: 1.5%;
    background: transparent;
    text-shadow: 3px 3px 3px rgb(176, 164, 240);
}
header .title a{
    text-decoration: none;
}
</style>