<div class="title">   
    <a href="main.html">
        우리들의 비밀 이야기
    </a>
</div>
<div class="menu_btn">
    <button type="button" onclick="ShowMenu()">=</button>
</div>

<nav>
    <ul class="flex-row">
        <li>
            <a href="index.html">Logout</a>
        </li>
        <li>
            <a href="calendar.html">Anniversary</a>
        </li>
        <li>
            <a href="diary.html">Diary</a>
        </li>
        <li>
            <a href="music.html">Music</a>
        </li>
        <li>
            <a href="album.html">Album</a>
        </li>
    </ul>
</nav>

<style>
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
header .title{
    width: 50%;
    padding: 2% 0;
    background: transparent;
    text-shadow: 3px 3px 3px rgb(176, 164, 240);
}
header .title a{
    text-decoration: none;
    font-size: 3rem; 
}
.menu_btn{
    display: none;
    width: 50%;
    height: 30%;
    z-index: 2000;
}
    .menu_btn button{
        width: 10%;
        height: 100%;
        margin: auto 0;
        margin-left: 58%;
        border-radius: 1rem;
        border: 1px solid rgb(176, 164, 240);
        background-color: lightyellow;
        cursor: pointer;
        font-weight: 500;
        transition: 0.8s;
    }
    .menu_btn button:hover{
        background-color: #495057;
        color: lightyellow;
    }
header nav{
    width: 50%;
    display: block;
    z-index: 1000;
}
header nav li{
    padding: 4%;
    list-style: none;
}
@media all and (max-width:1024px){
    header nav{
        display: none;
    }
    .menu_btn{
        display: inline-block;
    }
}
@media all and (max-width:768px){
    header .title{
        padding: 4% !important;
        width: 70% !important;
    }
    .menu_btn{
        width: 30% !important;
    }
    .menu_btn button{
        width: 20% !important;
        margin-left: 20% !important;
    }
    .accordion{
        padding: 16% 5% 2% 5% !important;
    }
}
@media all and (max-width:480px){
    header .title{
        padding: 0 !important;
    }
    header .title a{
        font-size: 2rem !important;
    }
    .menu_btn button{
        width: 35% !important;
        margin-left: 0% !important;
    }
    .accordion{
        padding: 23% 6% 2% 6% !important;
    }
}

.accordion{
    display: block;
    position: fixed;
    top: 0%;
    right: 1%;
    width: auto;
    height: auto;
    padding: 10% 6% 2% 6%;
    background-color: rgba(33, 37, 41, 0.9);
    border-radius: 1rem;
}
.accordion ul{
    flex-direction: column;
}
.accordion ul li{
    margin: 5%;
    padding: 5%;
}
</style>
<script>
    // responsive menu
    var Nav = document.querySelector("header").children[2];
    function ShowMenu (){
        if(Nav.classList.contains('accordion')==false){
            Nav.classList.add('accordion');
        }else{
            Nav.classList.remove('accordion');}
    }
    function responsiveMenu(){
        if (window.matchMedia('(min-width: 1024px)').matches){
            Nav.classList.remove('accordion');
        }
    }

    window.addEventListener('resize', responsiveMenu, false);
</script>