<div class="title">   
    <a href="main.html">
        우리들의 비밀 이야기
    </a>
</div>
<nav>
    <ul class="flex-row">
        <li>
            <a href="index.html">Logout</a>
        </li>
        <li>
            <a href="calendar.html">Anniversary</a>
        </li>
        <li>
            <a href="diary.html">Diary</a>
        </li>
        <li>
            <a href="music.html">Music</a>
        </li>
        <li>
            <a href="album.html">Album</a>
        </li>
    </ul>
</nav>

<style>
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
header .title{
    padding: 2% 0;
    background: transparent;
    text-shadow: 3px 3px 3px rgb(176, 164, 240);
}
header .title a{
    text-decoration: none;
    font-size: 3rem; 
}
nav li{
    padding: 10%;
    list-style: none;
}
</style>